# 大文件 - 不提交到 Git
lingo_flutter/ios/Runner/Resources/models/ggml-base.bin
lingo_flutter/ios/Resources/models/ggml-base.bin
*.bin
# whisper.xcframework 相关大文件
lingo_flutter/ios/whisper.xcframework/

lingo_flutter/ios/bundle.zip
lingo_flutter/ios/Frameworks/MLCLibs.zip
lingo_flutter/FLUTTER_MIGRATION_GUIDE.md
